@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@import "compass";
@import "compass/reset";

// CONFIGURATION

$font: 15px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$background-color: #fff;
$color: #444;
$link-color: #f93;
$light-color: #ccc;
$extra-color: #f93;


// MIXINS

@mixin collapse-margins {
  :first-child { margin-top: 0 }
  :last-child { margin-bottom: 0 }
}

@mixin reset-links {
  a { color: inherited; text-decoration: none; }
}

@mixin hover-links {
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
}

// PROTOTYPES

%fatso {
  @include reset-links;

  font-weight: bold;
  text-transform: uppercase;

  a { color: #ccc; }
  a:hover { color: #666; }
}

// BASICS

* { @include box-sizing(inherit); }

html, body {
  @include box-sizing(border-box);
  height: 100%;
}

body {
  font: $font;
  background-color: $background-color;
  color: $color;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

strong, b {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  @extend p;
  @extend b;
}

a {
  color: inherited;
}


// CONTENT AREA

#main {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100%;
}

#content {
  @include collapse-margins;
  margin-top: 2em;
}

// FORMS

form { @include collapse-margins }
.input { @extend p }

label {
  display: block;
  margin-bottom: 5px;
}

textarea, input[type="text"], input[type="password"] {
  font: $font;
  border: none;
  background-color: #eee;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 5px;
  width: 50%;
}

textarea {
  width: 100%;
}

input[type="button"], input[type="submit"], button {
  display: inline-block;
  background-color: $extra-color;
  border: none;
  color: $background-color;
  font: $font;
  font-weight: bold;
  line-height: 1;
  padding: 8px 16px;
}


// PRIMARY NAVIGATION

nav[role="primary"] {
  @extend %fatso;
  margin: 2em 0;

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

// POSTS

article.h-entry {
  @extend p;
  margin-bottom: 2em;

  header {
    @extend p;
    @extend %fatso;
  }
}

.post-information {
  color: $light-color;
  margin-top: 3em;
}
