@import url(//fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300);

@import "compass";
@import "compass/reset";
@import "font-awesome";

// CONFIGURATION

$font: 17px/1.4 "Roboto", Helvetica, Arial, sans-serif;
$background-color: #fff;
$color: #444;
$link-color: #f93;
$light-color: #bbb;
$light-color-active: #666;
$extra-color: #f93;


// MIXINS

@mixin collapse-margins {
  :first-child { margin-top: 0 }
  :last-child { margin-bottom: 0 }
}

@mixin reset-links {
  a { color: inherited; text-decoration: none; }
}

@mixin hover-links {
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
}

%rollup {
  @include border-radius(10px 0);
  @include transition(border-radius 100ms ease-out);
  &:hover { @include border-radius(0); }
}

// PROTOTYPES

%fatso {
  @include reset-links;

  font-weight: bold;
  text-transform: uppercase;

  a { color: $light-color; }
  a:hover { color: $light-color-active; }
}

%smally {
  @include reset-links;
  font-size: 85%;
  color: $light-color;
  a { color: $light-color; }
  a:hover { color: $light-color-active; }
}

// BASICS

* { @include box-sizing(inherit); }

html, body {
  @include box-sizing(border-box);
  height: 100%;
}

body {
  font: $font;
  background-color: $background-color;
  color: $color;
  padding: 10px;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

strong, b {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  @extend p;
  @extend b;
}

a {
  color: $extra-color;
}

// ARTICLE TEXT FORMATTING

%text {
  blockquote {
    background-color: #f8f8f8;
    color: #999;
    padding: 10px;
    border-left: 3px solid #eee;
  }

  ul, ol {
    @extend p;
    &>li { margin-left: 2em; }
  }

  ul>li { list-style-type: square; }
  ol>li { list-style-type: decimal; }
}


// BUTTONS

%button {
  @extend %rollup;

  display: inline-block;
  background-color: $extra-color;
  border: none;
  color: $background-color;
  font: $font;
  font-weight: bold;
  line-height: 1;
  padding: 8px 18px 7px 18px;
  text-decoration: none;
  cursor: pointer;
}

a.button { @extend %button }

// FLASHES

.flash { font-weight: bold }
.flash-notice { color: $extra-color; }
.flash-alert  { color: red; }


// CONTENT AREA

#main {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100%;
}

#content {
  @include collapse-margins;
}

// FORMS

form { @include collapse-margins }
.input { @extend p }

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea, input[type="text"], input[type="password"] {
  font: $font;
  background-color: transparent;
  border: 2px solid #ccc;
  outline: none;
  padding: 5px;
  width: 50%;
  &:focus { border-color: $extra-color }
}

textarea {
  width: 100%;
}

input[type="button"], input[type="submit"], button {
  @extend %button;
}

form.new_document {
  margin-bottom: 2em;
}

form .hint {
  display: block;
  margin-top: 5px;
  @extend %smally;
}

// PRIMARY HEADER

header[role="primary"] {
  position: relative;

  .p-name {
    font-weight: bold;
    font-size: 40px;
  }

  .u-photo {
    position: absolute;
    right: 0;
    width: 80px;
    height: 80px;
  }
}


// PRIMARY NAVIGATION

nav[role="primary"] {
  @extend %fatso;
  margin-bottom: 2em;

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

// DOCUMENTS

img.u-photo {
  @extend %rollup;
}

article.h-entry {
  @extend p;
  margin-bottom: 80px;

  header {
    position: relative;
    @extend p;
    @extend %smally;

    &>* {
      @extend .fa;
      display: inline-block;
      margin-right: 1em;

      &::before {
        margin-right: 5px;
      }
    }

    .p-author {
      @extend .fa-user;
      .u-photo {
        width: 50px; height: 50px;
        position: absolute;
        left: -65px;
      }
    }

    .dt-published { @extend .fa-clock-o }
  }
}

.e-content {
  @extend %text;
}

.document-attributes {
  display: none;
}

.document-information {
  color: $light-color;
  a { color: inherit }
  margin-top: 3em;

}
